<!-- WRAPPER -->
		<div id="wrapper">

			<div id="header" class="navbar-toggleable-md sticky header-md clearfix">

        <!-- TOP NAV -->
        <header id="topNav">
            <div class="container">
                <!-- Mobile Menu Button -->
                <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <!-- Logo -->
                <%= link_to image_tag('logo-transparent.png'), root_path, :alt => "Rocket Elevators logo", :class => "logo float-left scrollTo" %>
                <div class="navbar-collapse collapse float-right nav-main-collapse submenu-dark">
                    <nav class="nav-main">
                        <ul id="topMain" class="nav nav-pills nav-main nav-onepage">
                            <li class="active"><!-- HOME -->
                                <%= link_to "HOME",root_path, :id => "home-nav" %>
                            </li>
                            <li>
								<a id="service-nav" href="#services">SERVICES</a>    
								<ul class="dropdown-menu">
									<li><%= link_to "Services",root_path(:anchor => "services"), class: "dropdown-item" %></li>
									<div class="dropdown-divider"></div>
									<li><%= link_to "Corporate Buildings",pages_commercial_url, class: "dropdown-item" %></li>
									<li><%= link_to "Residential Buildings",pages_residential_url, class: "dropdown-item" %></li>
									<li><%= link_to "Request a Quote",pages_quote_url, class: "dropdown-item" %></li>
								</ul>    
							</li>
                            <li><!-- PORTFOLIO -->
                                <%= link_to "PORTFOLIO",root_path(:anchor => "portfolio") %>
                            </li>
                            <li><!-- NEWS -->
                                <%= link_to "NEWS",root_path(:anchor => "news") %>
                            </li>
                            <li><!-- CLIENTS -->
                                <%= link_to "CLIENTS",root_path(:anchor => "clients") %>
                            </li>
                            <li><!-- CONTACT -->
                                <%= link_to "CONTACT",root_path(:anchor => "contact") %>
                            </li>
                            <% if user_signed_in? && current_user.supervisor_role? %>
								<li><!-- LOGOUT -->
									<%= link_to "LOGOUT", destroy_user_session_path, method: :delete %>
								</li>
								<li><!-- ADMIN -->
									<%= link_to "ADMIN", rails_admin_url %>
								</li>
							<% elsif user_signed_in? %>
								<li><!-- LOGOUT -->
									<%= link_to "LOGOUT", destroy_user_session_path, method: :delete %>
								</li>
							<% else %>
								<li><!-- LOGIN -->
									<%= link_to "LOGIN", new_user_session_path %>
								</li>
							<% end %>
                        </ul>

                    </nav>
                </div>
            </div>
        </header>
        <!-- /Top Nav -->
			</div>


			<!-- INTRO -->
			<div class="slider fullwidthbanner-container roundedcorners">
				<div id="home" class="fullwidthbanner" data-delay="0" data-height="600" data-shadow="0" data-navigationStyle="preview2">
					<ul class="hide">
						<li data-transition="parallaxtobottom" data-slotamount="7" data-masterspeed="300"  data-saveperformance="off"  data-title="Our Values">
							<!-- MAIN IMAGE -->
							<img src="/assets/effective-project-kickoff.jpg"  alt="cover image"  data-bgposition="center" data-bgfit="cover" data-bgrepeat="no-repeat">
						</li>
					</ul>
				</div>
			</div>
            <hr class="m-0" /><!-- 1px line separator -->
            
			<button class="btn btn-xlg btn-primary fs-20 fullwidth m-0 rad-0 p-40">
				<span class="font-lato fs-30">
                    <strong>We work Together For Better Achievements</strong>
				</span>
			</button>
            <!-- INTRO -->


            <!-- QUOTE -->
    <section id="quote_data">
              <div class = "container">
        <div class="heading-title heading-dotted text-center">
            <h2 style="color: interventions">Intervention Form</h2>
        </div>
    </div> 

               <div class = "container">
        <div class="col-md-12 mx-auto text-center text-interventions offset-md-3">
          <%=form_with model: @customer, :html => {:id => "myform"} do|form| %>
	
                <!-- Selector feching annd listing all clients  -->
                    
                <label class="col-md-12 mx-auto text-center text-interventions offset-md-3 name=intervention[author_id]"> Customer </label>
                   <%= form.select(:customer, Customer.all.collect {|cus| [cus.company_name, cus.id]}, {prompt: "Select"}, {class: 'form-control', required: true}) %>


                   <div class="display_building">
                   <div class="col-md-12 mx-auto text-center text-interventions offset-md-3"> Select Building</label>
                </div>
            </div>
        
                <!--  after the Selecting a cusomer, then  this selector list the buildings belonging to this customer -->
                <label class="col-md-12 mx-auto text-center text-interventions offset-md-3" name="intervention[building_id]"> </label>
                <%= form.select(:building, Building.all.collect {|buil| [buil.id, buil.customer_id]},  {prompt: "Select Building"}, {class: 'form-control', required: true}) %>



                <div class="display_battery">
                <div class="col-md-12 mx-auto text-center text-interventions offset-md-3"> Select Battery</label>
                </div>
                </div>
                
                <!--  after the Selecting a cusomer, then  the selector list the buildings belonging to this customer then this selector listing the batteries belonging to that building-->
                <label class="col-md-12 mx-auto text-center text-interventions offset-md-3" name="intervention[battery_id]"> </label>

                <%= form.select(:battery, Battery.all.collect {|bat| [bat.id, bat.building_id]},  {prompt: "Select Battery"}, {class: 'form-control', required: true}) %>   


                <div class="display_column">
                <div class="col-md-12 mx-auto text-center text-interventions offset-md-3"> Select Column</label>
                </div>
                </div>
                <!--  after the Selecting a cusomer, then  the selector list the buildings belonging to this customer has been choosed,then Once the battery selection has been made, this selector list the columns belonging to that battery -->
            
                <label class="col-md-12 mx-auto text-center text-interventions offset-md-3" name="intervention[column_id]"> </label>
                <%= form.select(:column, Column.all.collect {|col| [col.id, col.battery_id]},  {prompt: "Select Column"}, {class: 'form-control'}) %> 

                <div class="display_elevator">
                <div class="col-md-12 mx-auto text-center text-interventions offset-md-3"> Select Elevator</label>
                </div>
                </div>
                <!--  after the Selecting a cusomer, then  the selector list the buildings belonging to this customer has been choosed,then  the battery selection has been made and selector list the columns belonging to that battery, this selector list the elevators belonging to the column-->
                <label class="col-md-12 mx-auto text-center text-interventions offset-md-3" name="intervention[elevator_id]"> </label>
                <%= form.select(:elevator, Elevator.all.collect {|el| [el.id, el.column_id]},  {prompt: "None"}, {class: 'form-control'}) %>    

                <div class="display_employee">
                <div class="col-md-12 mx-auto text-center text-interventions offset-md-3"> Select Employee</label>
                </div>
                </div>
                <!-- selector that lists all the company's employees -->
                <label class="col-md-12 mx-auto text-center text-interventions offset-md-3" name="intervention[employee_id]">  </label>
                <%= form.select(:employee, Employee.all.collect {|empl| ["#{empl.first_name} #{empl.last_name}", empl.id]},  {prompt: "None"}, {class: 'form-control'}) %>  
                <!-- Description input field whic is linked to the report in the database-->

                <label class="col-md-12 d-flex justify-content-center" for="intervention:report"> Description </label>

                <textarea class="form-control" id="Description" rows="3" name="report"></textarea>

                <!-- submit button to send informations into databse-->
                <button id="submit-button" type="submit"  class="btn btn-primary" value="Submit" >SUBMIT INTERVENTION </button> 
            
                
            <% end %>
      </div>
            </section>
            <!-- /QUOTE -->

            <!-- FOUNDATION -->
			    <section class="parallax parallax-1" style="background-image: url(<%= image_path "elavator-cityview-crop.jpg"%>)">
				<div class="overlay dark-5"></div>
				<div class="container">
					<div class="text-center">
						<h2 class="fs-40 fw-300">Elevating Quality Since 1976</h2>
                        <%= link_to "CONTACT US",root_path(:anchor => "contact"), class:"btn btn-primary btn-lg" %>
					</div>
				</div>
            </section>
            <!-- /FOUNDATION -->
            

            
            <!-- FOOTER -->
			<footer id="footer">
				<div class="container mt-0 mb-30">
					<div class="row">
						<!-- col #1 -->
						<div class="col-md-7">
							<h3 class="letter-spacing-1">WHY US?</h3>
							<!-- Small Description -->
							<p>
								We have the conviction that we create the most innovative and reliable products on the market. </br>
								Contact us today for any questions you might have.
							</p>
						</div>
						<!-- /col #1 -->
						<!-- col #2 -->
						<div class="col-md-5">
                            <h3>(418) 555-1234</h3>
                            <p>
                                <span class="block"><strong><i class="fa fa-map-marker"></i> 418-725 Boulevard Lebourgneuf, Québec, QC G2J 0C4, Canada</span>
                                <span class="block"><strong><i class="fa fa-envelope"></i> Email:</strong> <a href="mailto:info@codebox.biz">info@codebox.biz</a></span>
                            </p>
						</div>
						<!-- /col #2 -->
					</div>
				</div>
				<div class="copyright">
					<div class="container">
						&copy; All Rights Reserved
					</div>
				</div>
			</footer>
			<!-- /FOOTER -->
		</div>
		<!-- /WRAPPER -->

		<!-- SCROLL TO TOP -->
		<a href="#" id="toTop"></a>